<div class="mb-3 shadow-sm overflow-hidden">
  <div class="d-flex p-3 border-bottom border-secondary-subtle justify-content-between align-items-center bg-light-darker">
    <div class="d-flex align-items-center gap-3">
      <a href="<%= files_app_url(project.download_dir) %>"
         target="_blank"
         class="btn btn-sm btn-outline-secondary"
         title="<%= t('.button_download_folder_title') %>">
        <i class="bi bi-folder-fill" aria-hidden="true"></i>
        <span class="visually-hidden"><%= t('.button_download_folder_title') %></span>
      </a>
      <div class="d-flex flex-column">
        <h5 class="mb-0"><%= t('.tab_title') %></h5>
        <small class="text-muted"><%= project.download_dir %></small>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2">
      <div>
        <%= render partial: '/shared/file_summary_widget', locals: project_progress_data(project.status_summary) %>
      </div>
    </div>
  </div>

</div>