<div id="modal-delete-confirmation"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-modal="true"
     aria-live="assertive"
     aria-labelledby="modal-confirm-title"
     aria-describedby="modal-confirm-description"
     data-controller="modal">

  <div class="modal-dialog w-50">
    <div class="modal-content overflow-hidden">

      <div class="modal-header pb-2">
        <div class="d-flex flex-column">
          <h5 id="modal-confirm-title" class="modal-title mb-0">
            <i class="bi bi-question-circle-fill text-primary me-1" aria-hidden="true"></i>
            <span data-modal-target="title"><%= t('.header_title') %></span>
          </h5>
          <small class="text-muted" data-modal-target="subtitle" style="margin-top: -3px;"><%= t('.subtitle_default_text') %></small>
        </div>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="<%= t('.button_close_label') %>"></button>
      </div>

      <div class="modal-body p-4 position-relative">
        <!-- Confirmation message -->
        <div>
          <p id="modal-confirm-description" class="mb-4 text-body" data-modal-target="content">
            <%= t('.content_text') %>
          </p>

          <div class="d-flex justify-content-center gap-4">
            <button type="submit" class="btn btn-danger w-25" data-modal-target="confirm_button" data-action="modal#confirm">
              <i class="bi bi-trash me-1" aria-hidden="true"></i>
              <span data-modal-target="confirm_text"><%= t('.button_confirm_text') %></span>
            </button>
            <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">
              <%= t('.button_cancel_text') %>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
