<div class="border-bottom py-2 px-5 d-flex justify-content-between align-items-center shadow-sm <%= project_header_class(true) %>">
  <div class="d-flex align-items-center gap-3">
    <a href="<%= files_app_url(project.download_dir) %>"
       target="_blank"
       class="btn btn-sm btn-outline-secondary"
       title="<%= t('.link_open_downloads_title') %>">
      <i class="bi bi-folder-fill"></i>
    </a>

    <%= render partial: '/shared/file_row_date', locals: { date: project.creation_date, title: t('.creation_date_title')} if project.creation_date %>

    <!-- PROJECT METADATA -->
    <div data-project-name-target="display" class="d-flex flex-column">
      <%= link_to project_path(id: project.id), class: "position-relative project-name-link text-reset text-decoration-none rounded-end ps-1 pe-3" do %>
        <h5 class="mb-0"><%= project.name %></h5>
        <small class="text-muted"><%= project.download_dir %></small>
      <% end %>
    </div>
  </div>

  <div>
    <a href="<%= files_app_url(Project.project_metadata_dir(project.id)) %>"
       target="_blank"
       class="btn btn-sm btn-outline-primary ms-3"
       title="<%= t('.link_open_metadata_title') %>">
      <i class="bi bi-card-list"></i>
    </a>
    <button class="btn btn-sm btn-outline-primary cursor-default" title="<%= t('.button_active_project_title') %>">
      <i class="bi bi-check-circle-fill"></i>
    </button>
  </div>
</div>
