
<div id="repo-resolver-bar" class="collapse bg-light" style="transition: none;">
  <div class="d-flex align-items-center justify-content-between py-3 px-5 border-bottom">

    <!-- Repo Logos (left aligned) -->
    <div class="d-flex align-items-center gap-3">
      <%= image_tag "dataverse_project.svg", alt: "Dataverse", height: 32 %>
      <%= image_tag "zenodo.svg", alt: "Zenodo", height: 32 %>
      <%= image_tag "doi_logo.svg", alt: "DOI Fundation", height: 32 %>
    </div>

    <!-- Resolver Form (right aligned) -->
    <form action="<%= repo_resolver_path %>" method="post" class="d-flex align-items-center gap-3" style="flex: 1 1 auto; max-width: 60%;">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <input type="text"
             name="repo_url"
             placeholder="<%= t('.input_repo_url_placeholder') %>"
             aria-label="<%= t('.input_repo_url_label') %>"
             class="form-control"
             style="flex: 1 1 auto;">

      <button class="btn btn-sm btn-primary px-3" type="submit"
              data-controller="submit-button"
              data-action="click->submit-button#click">
        <span data-submit-button-target="spinner"
              class="spinner-border spinner-border-sm me-1 d-none"
              role="status" aria-hidden="true"></span>
        <span data-submit-button-target="label"><%= t('.button_submit_text') %></span>
      </button>
    </form>

  </div>
</div>
