<%
  project_id = params[:project_id]
  project = Project.find(project_id)
  events = project.events
%>
<table class="table table-sm">
  <thead>
  <tr>
    <th><%= t('events.table.header_id') %></th>
    <th><%= t('events.table.header_type') %></th>
    <th><%= t('events.table.header_creation_date') %></th>
    <th><%= t('events.table.header_metadata') %></th>
  </tr>
  </thead>
  <tbody>
  <% events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.type %></td>
      <td><%= event.creation_date %></td>
      <td>
        <% if event.metadata.present? %>
          <ul class="list-unstyled mb-0">
            <% event.metadata.each do |key, value| %>
              <li><strong><%= key %></strong>: <%= value %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
