<%
  reset_service = ResetService.new
  reset_allowed = reset_service.reset_request_allowed?(request)
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= reset_allowed ? t('.success_page_title') : t('.error_page_title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", defer: true %>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if reset_allowed %>
        <% reset_service.reset %>
        <div class="alert alert-warning border-2 rounded-3 shadow-sm text-center" role="alert">
          <i class="bi bi-check-circle-fill fs-3 text-warning mb-2"></i>
          <h4 class="alert-heading"><%= t('.success_content_title') %></h4>
          <%= t('.success_content_html', url: restart_url) %>
        </div>
        <!-- Success redirect -->
        <script>
            // FIRE AND FORGET
            fetch("<%= restart_url %>").catch(() => { })
            setTimeout(function() {
                window.location.href = "<%= root_path %>";
            }, <%= ::Configuration.restart_delay %>);
        </script>
      <% else %>
        <div class="alert alert-danger border-2 rounded-3 shadow-sm text-center" role="alert">
          <i class="bi bi-exclamation-octagon-fill fs-3 text-danger mb-2"></i>
          <h4 class="alert-heading"><%= t('.error_content_title') %></h4>
          <%= t('.error_content_html', url: root_path) %>
        </div>
        <!-- Error redirect -->
        <script>
            setTimeout(function() {
                window.location.href = "<%= root_path %>";
            }, <%= ::Configuration.restart_delay %>);
        </script>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
