<div class="container-md content mt-4" role="main">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        <a href="/pun/sys/ood/">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <a aria-current="page">downloads</a>
      </li>
    </ol>
  </nav>
  <div class="row">
    <% flash.each do |type, message| %>
      <% alert_class = case type.to_sym
                       when :notice then "alert-success"
                       when :alert, :error then "alert-danger"
                       else "alert-info"
                       end %>
      <div class="alert <%= alert_class %>">
        <%= message %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card dataset-header">
        <div class="card-header">Downloads</div>
        <div class="list-group list-group-flush">
          <span class="list-group-item list-group-item-action">
            Files being downloaded
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <% if @download_collections.empty? %>
        There are currently no downloads
      <% else %>
        <% @download_collections.each do |collection| %>
          <div class="row">
            <div class="card dataset-header">
              <div class="card-header"><%= collection.name %> (<%= collection.id %>)</div>
              <% collection.files.each do |file| %>
                <%= render partial: 'download_file', locals: {file: file} %>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
        </div>
      <% end %>
      </div>
</div>