<li class="card mb-3 shadow-sm rounded">
  <div class="card-header bg-light d-flex justify-content-between align-items-center">

    <a class="d-flex align-items-center text-decoration-none text-secondary"
       data-bs-toggle="collapse"
       data-controller="utils--icon-toggle"
       data-utils--icon-toggle-icon-on-value="bi-plus-square"
       data-utils--icon-toggle-icon-off-value="bi-dash-square"
       data-action="click->utils--icon-toggle#toggle"
       href="#repo-<%= domain.parameterize %>"
       role="button"
       aria-expanded="false"
       aria-controls="repo-<%= domain.parameterize %>">
      <i data-utils--icon-toggle-target="icon" class="bi bi-plus-square me-2 transition" style="line-height: 1;" aria-hidden="true"></i>
      <span class="me-2 d-inline-flex align-items-center" style="line-height: 1;">
        <%= connector_icon(entry.type) %>
      </span>
      <strong class="d-inline-block"><%= domain %></strong>
    </a>

    <%= render partial: "shared/button_to", locals: {
      url: repository_settings_path,
      method: 'DELETE',
      title: t('.button_delete_repository_title'),
      class: 'btn-sm btn-outline-dark icon-hover-danger',
      icon: 'bi bi-trash-fill',
      params: { domain: domain },
      modal_id: 'modal-delete-confirmation',
      modal_title: t('.modal_delete_confirmation_title'),
      modal_subtitle: domain,
      modal_content: t('.modal_delete_confirmation_content')
    } %>

  </div>
  <div class="collapse" id="repo-<%= domain.parameterize %>">
    <div class="card-body">
      <%= render partial: "/connectors/#{entry.type.to_s.downcase}/repo_settings", locals: { domain: domain, metadata: entry.metadata } %>
    </div>
  </div>
</li>
