<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= root_path %>" title="<%= t(".breadcrumb_home_title") %>"><%= t(".breadcrumb_home_text") %></a>
    </li>
    <li class="breadcrumb-item">
      <%= link_to t('connectors.dataverse.title'), view_dataverse_landing_path, { 'title' => t(".breadcrumb_dataverse_title"), 'aria-label' => t(".breadcrumb_dataverse_title")} %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to_root_dataverse_collection(dataverse_url, {title: dataverse_url, 'aria-label' => dataverse_url }) %>
    </li>
    <% collection.data.parents.each do |parent| %>
      <li class="breadcrumb-item">
        <%= link_to_dataverse_collection(parent[:identifier], dataverse_url, parent[:identifier], { 'title' => parent[:name], 'aria-label' => parent[:name]}) %>
      </li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to_dataverse_collection(collection.data.alias, dataverse_url, collection.data.alias, { 'title' => collection.data.name }) %>
    </li>
  </ol>
</nav>