<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      <%= link_to_dataverse_collection item.name.presence || t(".unnamed_dataverse_text"), dataverse_url, item.identifier, { class: "text-decoration-none", title: item.name, 'aria-label' => item.name } %>
    </h5>
    <% if item.published_at %>
      <small class="text-muted">
        <%= t('dataverse.collections.dataverse_item.field_published_label') %>:
        <time datetime="<%= item.published_at %>">
          <%= item.published_at.to_date.to_s %>
        </time>
      </small>
    <% end %>
  </div>

  <small class="text-muted d-block">
    <strong><%= t('dataverse.collections.dataverse_item.field_type_label') %>:</strong> <%= item.type %>
    <% if item.affiliation.present? %> |
      <strong><%= t('dataverse.collections.dataverse_item.field_affiliation_label') %>:</strong> <%= item.affiliation %>
    <% end %>
    <% if item.parent_dataverse_name.present? %> |
      <strong><%= t('dataverse.collections.dataverse_item.field_parent_label') %>:</strong> <%= link_to_dataverse_collection item.parent_dataverse_name, dataverse_url, item.parent_dataverse_identifier, { class: "text-decoration-none", title: item.parent_dataverse_name, 'aria-label' => item.parent_dataverse_name } %>
    <% end %>
  </small>
</li>