<div class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      <%= link_to_dataset item.name.presence || t('.untitled_dataset'), dataverse_url, item.global_id, {class: "text-decoration-none"} %>
    </h5>
    <% if item.published_at %>
      <small class="text-muted"><%= t('.published') %>: <%= item.published_at.to_date.to_s %></small>
    <% end %>
  </div>

  <p class="mb-1"><%= truncate(item.description, length: 200) %></p>

  <small class="text-muted">
    <strong><%= t('.type') %>:</strong> <%= item.type %> |
    <strong><%= t('.publisher') %>:</strong> <%= link_to_dataverse_collection item.publisher, dataverse_url, item.identifier_of_dataverse, { class: "text-decoration-none"} %> |
    <strong><%= t('.files') %>:</strong> <%= item.file_count %>
  </small>
</div>