<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="<%= root_path %>"><%= t(".home") %></a>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Dataverse", view_dataverse_landing_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to_root_dataverse(dataverse_url) %>
    </li>
    <% dataverse.data.parents.each do |parent| %>
      <li class="breadcrumb-item">
        <%= link_to_dataverse(parent[:identifier], dataverse_url, parent[:identifier], {'title' => parent[:name], 'aria-current' => 'page'}) %>
      </li>
    <% end %>
    <li class="breadcrumb-item">
      <%= link_to_dataverse(dataverse.data.alias, dataverse_url, dataverse.data.alias, {'title' => dataverse.data.name, 'aria-current' => 'page'}) %>
    </li>
  </ol>
</nav>