<div class="card dataset-header">
  <div class="card-header d-flex align-items-center">
    <%= installations_page.to_s %>
    <span class="ms-auto">
      <%= link_to("<", view_dataverse_landing_path(page: installations_page.prev_page), {class: "text-decoration-none"}) unless installations_page.first_page? %>
      <%= "page #{installations_page.page}" %>
      <%= link_to(">", view_dataverse_landing_path(page: installations_page.next_page), {class: "text-decoration-none"}) unless installations_page.last_page? %>
    </span>
  </div>
  <% if installations_page.page_items.any? %>
    <div class="list-group">
      <%= render partial: 'installation', collection: installations_page.page_items, as: :installation %>
      <div class="list-group-item d-flex justify-content-center">
        <%= link_to("<", view_dataverse_landing_path(page: installations_page.prev_page), {class: "text-decoration-none bottom-page-link"}) unless installations_page.first_page? %>
        <%= "page #{installations_page.page}" %>
        <%= link_to(">", view_dataverse_landing_path(page: installations_page.next_page), {class: "text-decoration-none bottom-page-link"}) unless installations_page.last_page? %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-warning mt-3">
      No items found.
    </div>
  <% end %>
</div>