<div class="card dataset-header">
  <div class="card-header"><%= t('.header_dataset_text') %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
       <strong><%= dataset.metadata_field('title').to_s %></strong>
    </li>
    <li class="list-group-item">
       <%= dataset.data.dataset_persistent_id %>
    </li>
  </ul>
</div>
<div class="card dataset-header">
  <div class="card-header"><%= t(".header_description_text") %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= truncate(strip_tags(dataset.description), length: 300) %>
    </li>
  </ul>
</div>