<div class="card dataset-header">
  <div class="card-header"><%= t('dataverse.datasets.dataset_metadata.header_dataset_metadata_text') %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong><%= t('dataverse.datasets.dataset_metadata.field_publication_date_text') %></strong> <%= dataset.data.publication_date %>
    </li>
    <li class="list-group-item">
      <strong><%= t('dataverse.datasets.dataset_metadata.field_authors_text') %></strong> <%= dataset.authors %>
    </li>
    <li class="list-group-item">
      <strong><%= t('dataverse.datasets.dataset_metadata.field_subjects_text') %></strong> <%= dataset.subjects %>
    </li>
    <li class="list-group-item">
      <strong><%= t('dataverse.datasets.dataset_metadata.field_license_text') %></strong> <%= image_tag dataset.data.license&.icon_uri, alt: dataset.data.license&.name if dataset.data.license&.icon_uri %>
      <%= dataset.data.license.name %>
    </li>
  </ul>
</div>