
<% file_status = OpenStruct.new(project_progress_data(project.status_summary)) %>
<div class="card mb-3 shadow-sm rounded overflow-hidden">
  <div class="card-header d-flex justify-content-between align-items-center bg-light-darker">
    <div class="d-flex align-items-center gap-3">
      <a href="<%= files_app_url(project.download_dir) %>"
         target="_blank"
         class="btn btn-sm btn-outline-secondary"
         aria-label="<%= t('.button_open_downloads_folder_title') %>"
         title="<%= t('.button_open_downloads_folder_title') %>">
        <i class="bi bi-folder-fill" aria-hidden="true"></i>
        <span class="visually-hidden"><%= t('.button_open_downloads_folder_title') %></span>
      </a>
      <div class="d-flex flex-column">
        <h3 class="mb-0 h5"><%= t('.header_download_files_text') %></h3>
        <small class="text-muted"><%= project.download_dir %></small>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2">
      <div class="me-4">
        <%= render partial: '/shared/file_summary_widget', locals: project_progress_data(project.status_summary) %>
      </div>
      <button data-controller="utils--icon-toggle"
              data-utils--icon-toggle-icon-on-value="bi-plus-square-fill"
              data-utils--icon-toggle-icon-off-value="bi-dash-square-fill"
              data-action="click->utils--icon-toggle#toggle"
              data-bs-toggle="collapse"
              data-bs-target="#download-repo-resolver"
              title="<%= t('.button_add_files_title') %>"
              aria-label="<%= t('.button_add_files_text') %>"
              role="button"
              aria-expanded="false"
              aria-controls="download-repo-resolver"
              class="btn btn-outline-secondary btn-sm">
        <i data-utils--icon-toggle-target="icon" class="bi bi-plus-square-fill" aria-hidden="true"></i>
        <span class="ps-1"><%= t('.button_add_files_text') %></span>
      </button>
    </div>

  </div>
</div>