<% file_browser_id = project_download_dir_browser_id(project) %>
<div class="card mb-3 shadow-sm rounded overflow-hidden">
  <div class="card-header bg-light-darker py-1">
    <div class="d-flex justify-content-between align-items-center py-2">
      <div class="d-flex align-items-center gap-3 me-2">
        <!-- open workspace folder -->
        <a href="<%= files_app_url(project.download_dir) %>"
           target="_blank"
           class="btn btn-sm btn-outline-secondary"
           aria-label="<%= t('.button_open_downloads_folder_title') %>"
           title="<%= t('.button_open_downloads_folder_title') %>">
          <i class="bi bi-folder-fill" aria-hidden="true"></i>
          <span class="visually-hidden"><%= t('.button_open_downloads_folder_title') %></span>
        </a>

        <div class="d-flex flex-column">
          <h3 class="mb-0 h5"><%= t('.header_download_files_text') %></h3>
          <small class="text-muted"><%= project.download_dir %></small>
        </div>
      </div>

      <div class="d-flex align-items-center gap-2">
        <!-- edit workspace folder -->
        <div data-controller="project-download-dir"
             data-project-download-dir-browser-id-value="<%= file_browser_id %>">
          <button type="button" class="btn btn-sm btn-outline-secondary"
                  data-controller="lazy-loader"
                  data-lazy-loader-container-id-value="<%= file_browser_id %>"
                  data-lazy-loader-url-value="<%= file_browser_path(path: project.download_dir) %>"
                  data-action="click->lazy-loader#load click->project-download-dir#open"
                  title="<%= t('.button_edit_download_dir_title') %>"
                  aria-label="<%= t('.button_edit_download_dir_label') %>">
            <i class="bi bi-pencil-square" aria-hidden="true"></i>
            <span class="visually-hidden"><%= t('.button_edit_download_dir_label') %></span>
          </button>
          <%= render partial: '/projects/show/edit_download_dir_modal',
                     locals: { project: project, file_browser_id: file_browser_id } %>
        </div>

        <!-- Open metadata link -->
        <%= render partial: '/shared/metadata_folder_link',
                   locals: { path: Project.download_files_directory(project.id) } %>
      </div>
    </div>

    <hr class="m-0">

    <div class="d-flex justify-content-between align-items-center py-2">
      <div class="me-4">
        <%= render partial: '/shared/file_summary_widget', locals: project_progress_data(project.status_summary) %>
      </div>

      <div>

        <% explore_url = most_recent_explore_url(project) %>
        <a href="<%= explore_url if explore_url %>"
           class="btn btn-sm btn-outline-secondary <%= 'disabled' unless explore_url %>"
           aria-label="<%= t('.button_add_files_title') %>"
           title="<%= t('.button_add_files_title') %>"
           aria-disabled="<%= explore_url.nil? %>">
          <i class="bi bi-files" aria-hidden="true"></i>
          <span><%= t('.button_add_files_text') %></span>
        </a>

        <button data-controller="utils--icon-toggle"
                data-utils--icon-toggle-icon-on-value="bi-plus-square-fill"
                data-utils--icon-toggle-icon-off-value="bi-dash-square-fill"
                data-action="click->utils--icon-toggle#toggle"
                data-bs-toggle="collapse"
                data-bs-target="#download-repo-resolver"
                title="<%= t('.button_browse_dataset_title') %>"
                aria-label="<%= t('.button_browse_dataset_title') %>"
                role="button"
                aria-expanded="false"
                aria-controls="download-repo-resolver"
                class="btn btn-outline-secondary btn-sm">
          <i data-utils--icon-toggle-target="icon" class="bi bi-plus-square-fill" aria-hidden="true"></i>
          <span class="ps-1"><%= t('.button_browse_dataset_text') %></span>
        </button>

      </div>

    </div>
  </div>
</div>

<div id="download-repo-resolver" class="shadow-sm collapse bg-light-darker" style="transition: none;"
     data-controller="focus-on-event"
     data-focus-on-event-event-value="shown.bs.collapse"
     data-focus-on-event-element-id-value="download-repo-resolver_input">
  <div class="d-flex align-items-center justify-content-between py-3 px-5 border-bottom">

    <!-- Resolver Form (right aligned) -->
    <%= render layout: "shared/button_to", locals: {
      url: repo_resolver_path(active_project: project.id),
      form_class: 'flex-grow-1 d-flex align-items-center gap-2',
      class: 'btn-primary-dark',
      icon_html: image_tag('icon.png', alt: t('.button_submit_icon_alt'), class: 'icon-class d-block', style: 'height: 1rem; width: auto; object-fit: contain;' ),
      label: t('.button_submit_text')
    } do %>

      <input type="text"
             name="repo_url"
             id="download-repo-resolver_input"
             placeholder="<%= t('layouts.repo_resolver_bar.input_repo_url_placeholder') %>"
             aria-label="<%= t('layouts.repo_resolver_bar.input_repo_url_label') %>"
             class="d-inline form-control me-3">

    <% end %>

  </div>
</div>

