<% file_browser_id ||= project_download_dir_browser_id(project) %>
<div id="edit-download-dir-modal"
     class="modal fade"
     tabindex="-1"
     aria-modal="true"
     role="dialog"
     data-project-download-dir-target="modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('.header_title', project_name: project.name) %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('layouts.modal.button_close_label') %>"></button>
      </div>
      <div class="modal-body">
        <form data-project-download-dir-target="form" action="<%= project_path(id: project.id) %>" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :_method, 'put' %>
          <div class="mb-3">
            <small class="text-muted"><%= t('.field_path_label') %></small>
            <input type="text" readonly name="download_dir" class="form-control bg-light text-muted" value="<%= project.download_dir %>" data-project-download-dir-target="path" aria-label="<%= t('.field_path_label') %>">
          </div>
          <%= render partial: '/file_browser/file_browser', locals: { id: file_browser_id, class: 'mb-3 d-none' } %>
          <div class="d-flex justify-content-end gap-2 mt-4">
            <button type="submit" class="btn btn-primary" data-action="project-download-dir#select">
              <i class="bi bi-check-lg me-1" aria-hidden="true"></i><%= t('.button_select_text') %>
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('.button_cancel_text') %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
