<div class="d-flex justify-content-between align-items-center mt-3">
  <div class="d-flex align-items-center gap-2">
    <a href="<%= files_app_url(project.download_dir) %>"
       target="_blank"
       class="btn btn-sm btn-outline-secondary"
       title="<%= t('.open_project_folder') %>">
      <i class="bi bi-folder-fill"></i>
    </a>
    <%= render partial: '/shared/file_row_date', locals: { date: project.creation_date, title: t('.creation_date'), classes: ''} %>
    <h5 class="mb-0 me-2 fs-4"><%= project.name %></h5>
  </div>

  <div class="d-flex align-items-center gap-2 flex-grow-1">
    <%= render partial: 'shared/inline_field_submit', locals: {
      url: project_upload_bundles_path(project_id: project.id),
      type: 'form',
      field_name: 'remote_repo_url',
      label: t('.create_upload_bundle'),
      class: 'btn-sm btn-outline-secondary',
      icon: 'bi bi-folder-plus',
      placeholder: t('.create_upload_bundle_placeholder'),
    } %>

    <%= render partial: "shared/button_to", locals: {
      url: project_path(id: project.id),
      method: 'DELETE',
      title: t('.delete_project'),
      class: "btn-sm btn-outline-secondary icon-hover-danger",
      icon: "bi bi-trash"
    } %>

    <a href="<%= files_app_url(Project.project_metadata_dir(project.id)) %>"
       target="_blank"
       class="btn btn-sm btn-outline-secondary"
       title="<%= t('.open_project_metadata') %>">
      <i class="bi bi-card-list"></i>
    </a>
  </div>
</div>

<hr class="mt-2">