<div class="d-flex justify-content-between align-items-center flex-wrap"
     data-controller="update-inline-field"
     data-update-inline-field-initial-value-value="<%= project.name %>"
     data-update-inline-field-url-value="<%= project_path(id: project.id) %>"
       data-update-inline-field-error-message-value="<%= t('js.project_name.save.error') %>"
       data-update-inline-field-field-name-value="name"
       data-update-inline-field-method-value="PUT">

  <!-- LEFT: Project Info -->
  <div class="d-flex align-items-center gap-2 me-2">
    <a href="<%= files_app_url(project.download_dir) %>"
       target="_blank"
       class="btn btn-sm btn-outline-secondary"
       aria-label="<%= t('.button_open_project_folder_label') %>"
       title="<%= t('.button_open_project_folder_title') %>">
      <i class="bi bi-folder-fill" aria-hidden="true"></i>
      <span class="visually-hidden"><%= t('.button_open_project_folder_label') %></span>
    </a>


    <%= render partial: '/shared/file_row_date', locals: { date: project.creation_date, title: t('.field_creation_date_title'), classes: 'me-1' } %>

    <h2 class="mb-0 fs-4 h5" data-update-inline-field-target="name display"><%= project.name %></h2>
  </div>

  <!-- RIGHT: Inline forms and action buttons -->
  <div class="d-flex align-items-center gap-2 flex-wrap justify-content-end flex-grow-1">

    <!-- Project update name inline form and trigger button -->
    <%= render partial: 'shared/update_inline_field_form', locals: {
      aria_label: t('.section_rename_project_label'),
      save_title: t('.button_save_project_name_title'),
      cancel_title: t('.button_cancel_project_name_title'),
      input_value: project.name,
      field_name: 'name'
    } %>

    <button class="btn btn-sm btn-outline-secondary"
            data-action="click->update-inline-field#edit"
            title="<%= t('.button_edit_project_name_title') %>">
      <i class="bi bi-pencil-fill" aria-hidden="true"></i>
      <span class="visually-hidden"><%= t('.button_edit_project_name_title') %></span>
    </button>

    <!-- Delete project button -->
    <%= render partial: "shared/button_to", locals: {
      url: project_path(id: project.id),
      method: 'DELETE',
      title: t('.button_delete_project_title'),
      class: "btn-sm btn-outline-secondary icon-hover-danger",
      icon: "bi bi-trash",
      modal_id: 'modal-delete-confirmation',
      modal_title: t('.modal_delete_confirmation_title'),
      modal_subtitle: project.name,
      modal_content: t('.modal_delete_confirmation_content'),
    } %>

    <% if active_project?(project.id) %>
      <button class="btn btn-sm btn-outline-primary cursor-default" title="<%= t('.button_active_project_title') %>">
        <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
        <span class="visually-hidden"><%= t('.button_active_project_title') %></span>
      </button>
    <% else %>
      <%= render partial: "shared/button_to", locals: {
        url: set_active_project_path(id: project.id),
        title: t('.button_set_as_active_project_title'),
        class: 'btn-sm btn-outline-dark',
        icon: "bi bi-pin-angle-fill"
      } %>
    <% end %>

  </div>
</div>

<hr class="m-0 mt-2">

<!-- Create Upload Bundle inline form -->
<div class="d-flex justify-content-end gap-2 mt-2 mb-2">
  <div data-controller="update-inline-field"
       data-update-inline-field-url-value="<%= connector_project_upload_bundles_path(project_id: project.id) %>"
       data-update-inline-field-field-name-value="remote_repo_url"
       data-update-inline-field-type-value="form"
       class="flex-grow-1 d-inline-flex justify-content-end align-items-center gap-2">
    <div data-update-inline-field-target="display">
      <%= link_to '#', class: 'btn btn-sm btn-outline-secondary', title: t('.button_create_upload_bundle_title'), role: 'button', data: { action: 'click->update-inline-field#edit' } do %>
        <i class="bi bi-folder-plus" aria-hidden="true"></i>
        <span class="ps-1"><%= t('.button_create_upload_bundle_label') %></span>
      <% end %>
    </div>
    <%= render partial: 'shared/update_inline_field_form', locals: {
          aria_label: t('.button_create_upload_bundle_placeholder'),
          save_title: t('shared.inline_field_submit.button_submit_title'),
          cancel_title: t('shared.inline_field_submit.button_cancel_title'),
          input_value: '',
          field_name: 'remote_repo_url',
          placeholder: t('.button_create_upload_bundle_placeholder')
        } %>
  </div>

  <!-- Open metadata link -->
  <%= render partial: '/shared/metadata_folder_link',
             locals: { path: Project.project_metadata_dir(project.id) } %>
</div>
