<%
  upload_files_id = "upload-files-#{bundle.id}"
%>
<div id="<%= tab_id_for(bundle) %>" class="tab-pane fade" role="tabpanel" aria-labelledby="<%= tab_label_for(bundle) %>">
  <%= render partial: '/projects/show/upload_actions', locals: { project: project, bundle: bundle, file_browser_id: file_drop_browser_id(bundle), file_target_id: file_drop_target_id(bundle) } %>

  <%= render layout: '/file_browser/file_drop', locals: { id: file_drop_target_id(bundle), file_browser_id: file_drop_browser_id(bundle), url: project_upload_bundle_upload_files_path(project_id: project.id, upload_bundle_id: bundle.id) } do %>
    <div data-controller="lazy-loader"
         data-lazy-loader-container-id-value="<%= upload_files_id %>"
         data-lazy-loader-url-value="<%= project_upload_bundle_upload_files_path(project_id: project.id, upload_bundle_id: bundle.id) %>"
         data-lazy-loader-event-name-value="file-drop:file-submitted:<%= file_drop_target_id(bundle) %>"
         class="position-relative rounded border border-2">

      <div id="<%= upload_files_id %>" class="upload-files-container">
        <%= render partial: '/projects/show/upload_files', locals: { bundle: bundle } %>
      </div>
    </div>
  <% end %>

  <%= render partial: '/file_browser/file_browser', locals: { id: file_drop_browser_id(bundle), class: "my-3 d-none" } %>

</div>
