<section class="card mb-3 shadow-sm rounded overflow-hidden">
  <div class="card-header d-flex justify-content-between align-items-center bg-light-darker">
    <div class="d-flex align-items-center gap-3">
      <%= render partial: '/shared/file_row_date', locals: { date: bundle.creation_date, title: t('.field_creation_date_title') } if bundle.creation_date %>

      <div>
        <!-- PROJECT METADATA -->
        <div class="d-flex flex-column">
          <h3 class="mb-0 h5"><%= bundle.name %></h3>
        </div>
      </div>

    </div>

    <div class="d-flex align-items-center gap-2">
      <div class="me-4" data-controller="lazy-loader"
           data-lazy-loader-url-value="<%= widgets_path(widget_path: 'upload_bundle_summary', project_id: project.id, upload_bundle_id: bundle.id) %>"
           data-lazy-loader-event-name-value="file-drop:file-submitted:<%= file_target_id %>">
        <%= render partial: '/shared/file_summary_widget', locals: project_progress_data(bundle.status_summary) %>
      </div>

      <button data-controller="lazy-loader file-drop-activation"
              data-lazy-loader-container-id-value="<%= file_browser_id %>"
              data-lazy-loader-url-value="<%= file_browser_path %>"
              data-file-drop-activation-file-drop-id-value="<%= file_target_id %>"
              data-action="click->lazy-loader#toggle click->file-drop-activation#toggleFileDrop"
              title="<%= t('.button_add_files_title') %>"
              aria-label="<%= t('.button_add_files_title') %>"
              class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-plus-square-fill" aria-hidden="true"></i>
        <span class="ps-1"><%= t('.button_add_files_text') %></span>
      </button>

      <%= render partial: "shared/button_to", locals: {
        url: project_upload_bundle_path(project_id: bundle.project_id, id: bundle.id),
        method: 'DELETE',
        title: t('.button_delete_title'),
        class: 'btn btn-sm btn-outline-secondary icon-hover-danger',
        icon: "bi bi-trash",
        modal_id: 'modal-delete-confirmation',
        modal_title: t('.modal_delete_confirmation_title'),
        modal_subtitle: bundle.name,
        modal_content: t('.modal_delete_confirmation_content'),
      } %>
    </div>
  </div>

  <%= render partial: upload_bundle_connector_actions_bar(bundle), locals: { upload_bundle: bundle } %>

</section>