<%
  file_browser_id = "fb-#{bundle.id}"
  file_target_id = "fbt-#{bundle.id}"
  upload_files_id = "upload-files-#{bundle.id}"
%>
<div id="tab-<%= bundle.id %>" class="tab-pane fade" role="tabpanel" aria-labelledby="upload-tab-<%= bundle.id %>">
  <%= render partial: '/projects/show/upload_actions', locals: { bundle: bundle, file_browser_id: file_browser_id, upload_files_id: upload_files_id } %>

  <%= render layout: '/file_browser/file_drop', locals: { id: file_target_id, file_browser_id: file_browser_id, url: project_upload_bundle_upload_files_path(project_id: project.id, upload_bundle_id: bundle.id) } do %>
    <div data-controller="lazy-loader"
         data-lazy-loader-container-id-value="upload-files-<%= bundle.id %>"
         data-lazy-loader-url-value="<%= project_upload_bundle_upload_files_path(project_id: project.id, upload_bundle_id: bundle.id) %>"
         data-lazy-loader-event-name-value="file-drop:file-submitted:<%= file_target_id %>"
         class="position-relative rounded border border-2 file-drop-container">

      <div id="<%= upload_files_id %>" class="upload-files-container no-scroll">
        <%= render partial: '/projects/show/upload_files', locals: { bundle: bundle } %>
      </div>

      <div class="drop-overlay"></div>
      <div data-file-drop-target="icon" class="position-absolute translate-middle-y feedback-color d-none" style="top: 50%; left: 1rem; z-index: 100">
        <i class="bi bi-plus-square-fill fs-1"></i>
      </div>
      <div data-file-drop-target="feedback" class="position-absolute top-50 start-50 translate-middle text-center feedback-color fs-4 d-none" style="z-index: 100">
      </div>
    </div>
  <% end %>

  <%= render partial: '/file_browser/file_browser', locals: { id: file_browser_id, class: "my-3 d-none" } %>

</div>
