<div class="card mb-3 shadow-sm rounded overflow-hidden">
  <div class="card-header d-flex justify-content-between align-items-center bg-light-darker">
    <div class="d-flex align-items-center gap-3">
      <%= render partial: '/shared/file_row_date', locals: { date: batch.creation_date, title: t('.creation_date') } if batch.creation_date %>

      <div>
        <!-- PROJECT METADATA -->
        <div class="d-flex flex-column">
          <h5 class="mb-0"><%= batch.name %></h5>
        </div>
      </div>

    </div>

    <div class="d-flex align-items-center gap-2">
      <div class="me-4">
        <%= render partial: '/shared/file_summary_widget', locals: project_progress_data(batch.status_summary) %>
      </div>

      <button data-controller="lazy-loader add-upload-files"
              data-lazy-loader-container-id-value="<%= file_browser_id %>"
              data-lazy-loader-url-value="<%= file_browser_path %>"
              data-add-upload-files-upload-files-id-value="<%= upload_files_id %>"
              data-add-upload-files-file-browser-id-value="<%= file_browser_id %>"
              data-action="click->lazy-loader#load click->add-upload-files#toggleFileBrowser"
              class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-plus-square-fill"></i>
        <span class="ps-1"><%= t('.add_files') %></span>
      </button>

      <button class="btn btn-sm btn-outline-secondary"
              title="<%= t('.edit_upload_batch_settings') %>">
        <i class="bi bi-gear-fill"></i>
      </button>

      <%= render partial: "shared/button_to", locals: {
        url: project_upload_batch_path(project_id: batch.project_id, id: batch.id),
        method: 'DELETE',
        title: t('.delete_collection'),
        class: 'btn btn-sm btn-outline-secondary icon-hover-danger',
        icon: "bi bi-trash"
      } %>
    </div>
  </div>

  <%= render partial: upload_batch_connector_actions_bar(batch), locals: { upload_batch: batch } %>

</div>