<div class="card mb-3 shadow-sm rounded overflow-hidden">
  <div class="card-header d-flex justify-content-between align-items-center bg-light-darker">
    <div class="d-flex align-items-center gap-3">
      <%= render partial: '/shared/file_row_date', locals: { date: collection.creation_date, title: 'Creation date'} if collection.creation_date %>

      <div>
        <!-- PROJECT METADATA -->
        <div class="d-flex flex-column">
          <%= link_to collection.remote_repo_url, target: '_blank', class: "position-relative project-name-link text-reset text-decoration-none rounded-end  ps-1 pe-3" do %>
            <h5 class="mb-0"><%= collection.name %></h5>
          <% end %>
        </div>
      </div>

    </div>

    <div class="d-flex align-items-center gap-2">
      <div class="me-4">
        <%= render partial: '/shared/file_stats_inline', locals: { count: collection.count} %>
      </div>

      <button data-controller="lazy-loader add-upload-files"
              data-lazy-loader-container-id-value="<%= file_browser_id %>"
              data-lazy-loader-url-value="<%= file_browser_path %>"
              data-add-upload-files-upload-files-id-value="<%= upload_files_id %>"
              data-add-upload-files-file-browser-id-value="<%= file_browser_id %>"
              data-action="click->lazy-loader#load click->add-upload-files#toggleFileBrowser"
              class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-plus-square-fill"></i>
        <span class="ps-1">Add Files</span>
      </button>

      <button class="btn btn-sm btn-outline-secondary"
              title="Edit upload collection settings">
        <i class="bi bi-gear-fill"></i>
      </button>

      <%= render partial: "shared/button_to", locals: {
        url: project_upload_collection_path(project_id: collection.project_id, id: collection.id),
        method: 'DELETE',
        title: "Delete Collection",
        class: 'btn btn-sm btn-outline-secondary icon-hover-danger',
        icon: "bi bi-trash"
      } %>
    </div>
  </div>

  <%= render partial: upload_collection_connector_bar(collection), locals: { collection: collection } %>

</div>