<%
  type = local_assigns.fetch(:type, 'form')
  button_classes = local_assigns.fetch(:class, 'btn-outline-dark btn-sm')
  placeholder = local_assigns.fetch(:placeholder, t('.input_default_placeholder'))
  title = local_assigns.fetch(:title, '')
%>
<div data-controller="inline-field-submit"
     data-inline-field-submit-url-value="<%= url %>"
     data-inline-field-submit-field-name-value="<%= field_name %>"
     data-inline-field-submit-type-value="<%= type %>"
     class="flex-grow-1 d-inline-flex justify-content-end align-items-center gap-2">

  <!-- Action button (initial state) -->
  <div data-inline-field-submit-target="button">
    <%= link_to "#", class: "btn #{button_classes}", title: title, role: 'button', data: { action: "click->inline-field-submit#showForm" } do %>
      <i class="<%= icon %>" aria-hidden="true"></i>
      <span class="ps-1"><%= label %></span>
    <% end %>
  </div>

  <!-- Inline submit (hidden initially) -->
  <div data-inline-field-submit-target="form" class="flex-grow-1 d-flex align-items-center gap-2 d-none position-relative">
    <input type="text" class="form-control form-control-sm border-secondary-subtle" placeholder="<%= placeholder %>"
           aria-label="<%= placeholder %>"
           data-inline-field-submit-target="input label"
           required>
    <button class="btn btn-sm btn-outline-primary"
            type="submit"
            data-action="inline-field-submit#submit"
            data-inline-field-submit-target="label"
            aria-label="<%= t('.button_submit_title') %>"
            title="<%= t('.button_submit_title') %>">
      <i class="bi bi-check-lg" aria-hidden="true"></i>
      <span class="visually-hidden"><%= t('.button_submit_title') %></span>
    </button>
    <button class="btn btn-sm btn-outline-danger"
            type="button"
            data-action="inline-field-submit#cancel"
            data-inline-field-submit-target="label"
            aria-label="<%= t('.button_cancel_title') %>"
            title="<%= t('.button_cancel_title') %>">
      <i class="bi bi-x-lg" aria-hidden="true"></i>
      <span class="visually-hidden"><%= t('.button_cancel_title') %></span>
    </button>

    <!-- Spinner placeholder -->
    <div data-inline-field-submit-target="spinner" aria-live="polite"
         class="position-absolute top-50 start-50 translate-middle d-none">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden"><%= t('.spinner_loading_label') %></span>
      </div>
    </div>
  </div>

</div>
