<% files = OpenStruct.new(project_progress_data(project)) %>
<div class="border-bottom py-2 px-5 d-flex justify-content-between align-items-center shadow-sm <%= project_header_class(true) %>">
  <div class="d-flex align-items-center gap-3">
    <a href="<%= files_app_url(project.download_dir) %>"
       target="_blank"
       class="btn btn-sm btn-outline-secondary"
       title="Open project folder">
      <i class="bi bi-folder-fill"></i>
    </a>

    <%= render partial: '/shared/file_row_date', locals: { date: project.creation_date, title: 'Creation date'} if project.creation_date %>

    <!-- PROJECT METADATA -->
    <div data-project-name-target="display" class="d-flex flex-column">
      <%= link_to project_path(id: project.id), class: "position-relative project-name-link text-reset text-decoration-none rounded-end ps-1 pe-3" do %>
        <h5 class="mb-0"><%= project.name %></h5>
        <small class="text-muted"><%= project.download_dir %></small>
      <% end %>
    </div>
  </div>

  <div>
    <span class="badge badge-project-pending px-4 cursor-default" title="Number of pending files"><%= files.pending %></span>
    <span class="badge badge-project-completed px-4 cursor-default" title="Number of completed files"><%= files.completed %></span>
    <span class="badge badge-half badge-project-cancel px-4 cursor-default" title="Number of cancelled files"><%= files.cancelled %></span>
    <span class="badge badge-half badge-project-error px-4 cursor-default" title="Number of error files"><%= files.error %></span>
    <span class="badge badge-project-total px-4 cursor-default" title="Total files"><%= files.total %></span>
    <a href="<%= files_app_url(Project.project_metadata_dir(project.id)) %>"
       target="_blank"
       class="btn btn-sm btn-outline-primary ms-3"
       title="Open project metadata">
      <i class="bi bi-card-list"></i>
    </a>
    <button class="btn btn-sm btn-outline-primary cursor-default" title="Active project">
      <i class="bi bi-check-circle-fill"></i>
    </button>
  </div>
</div>
