<% progress ||= 0 %>
<div class="progress" aria-live="polite" style="height: 20px;">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
       role="progressbar"
       style="width: <%= progress %>%"
       aria-labelledby="progress-bar-label-<%= file.id %>"
       aria-valuenow="<%= progress%>" aria-valuemin="0" aria-valuemax="100">
  </div>
  <span class="progress-text text-secondary" id="progress-bar-label-<%= file.id %>"><%= progress %>%</span>
</div>