<% icon_html = connector_icon(type) %>
<% small ||= false %>
<%= link_to badge_url, class: "repo-badge me-2 d-flex align-items-center px-2 py-1 btn btn-outline-secondary fw-semibold", target: local_assigns[:target], title: tooltip do %>
  <span class="d-flex align-items-center me-1 <%= type.to_s %>"><%= icon_html %></span>
  <span class="small text-truncate d-inline-block" style="max-width: <%= small ? '20px;' : '160px;' %>"><%= text %></span>
<% end %>