<% files ||= [] %>
<div id="schedule-uploads" class="card">
  <div class="card-header">
    <%= render partial: '/shared/files_process_header', locals: { type: 'upload' } %>
  </div>
  <div class="card-body bg-light px-0">
    <div class="container files" role="table">
      <% files.each_with_index do |data, index| %>
        <div class="row py-2 align-items-center <%= 'custom-stripe' if index.even? %>" role="row">
          <!-- info for small screens -->
          <div class="col-sm-12 d-md-none" role="cell">
            <div class="d-flex align-items-center">
              <%= link_to(files_app_url(File.dirname(data.file.file_location)), class: 'btn btn-sm btn-outline-secondary me-2',
                          title: t('.button_browse_file_title'), target: '_blank') do %>
                <i class="bi bi-folder" aria-hidden="true"></i>
                <span class="visually-hidden"><%= t('.button_browse_file_a11y_text', filename: data.file.filename) %></span>
              <% end %>

              <%= render partial: 'shared/repo_badge', locals: {
                badge_url: data.upload_bundle.connector_metadata.dataverse_url,
                target: '_blank',
                type: data.upload_bundle.type,
                text: data.upload_bundle.connector_metadata.dataverse_title,
                tooltip: t(".badge_repo_tooltip"),
                small: true
              } %>

              <span class="me-2"><%= data.project.name %> ></span>
              <span class="me-2" title="<%= data.file.file_location %>"><%= data.file.filename %></span>
            </div>
          </div>
          <!-- end info for small screens -->

          <!-- info for medium and large screens -->
          <div class="col-md-8 d-none d-sm-none d-md-block" role="cell">
            <div class="d-flex align-items-center">
              <%= link_to(files_app_url(File.dirname(data.file.file_location)), class: 'btn btn-sm btn-outline-secondary me-2',
                          title: t('.button_browse_file_title'), target: '_blank') do %>
                <i class="bi bi-folder" aria-hidden="true"></i>
                <span class="visually-hidden"><%= t('.button_browse_file_a11y_text', filename: data.file.filename) %></span>
              <% end %>

              <%= render partial: '/shared/file_row_date', locals: { date: data.file.creation_date, title: t('.field_creation_date_title'), classes: "mx-2" } %>

              <%= render partial: 'shared/repo_badge', locals: {
                badge_url: data.upload_bundle.connector_metadata.dataverse_url,
                target: '_blank',
                type: data.upload_bundle.type,
                text: data.upload_bundle.connector_metadata.dataverse_title,
                tooltip: t(".badge_repo_tooltip"),
                small: false
              } %>

              <span class="me-2"><%= data.project.name %> ></span>
              <span class="me-2" title="<%= data.file.file_location %>"><%= data.file.filename %></span>
              <small class="text-muted me-2"><%= number_to_human_size(data.file.size) %></small>
            </div>
          </div>
          <!-- end info for medium and large screens -->

          <div class="col-sm-6 col-md-2" role="cell">
            <% if data.file.status.uploading? %>
              <%= render partial: '/shared/progress_bar', locals: { progress: data.file.connector_status.upload_progress, file: data.file } %>
            <% end %>
          </div>

          <div class="download-actions col-sm-6 col-md-2 text-end" role="cell">
            <%= status_badge(data.file.status, filename: data.file.filename) %>

            <button class="btn btn-icon-sm btn-outline-dark icon-hover-danger <%= cancel_button_class(data.file.status) %>" title="<%= t('.button_cancel_upload_title') %>"
                    data-controller="upload-file-cancellation"
                    data-action="click->upload-file-cancellation#cancel"
                    <%= 'disabled' unless data.file.status.uploading? %>
                    data-upload-file-cancellation-url-value="<%= cancel_project_upload_bundle_upload_file_path(project_id: data.file.project_id, upload_bundle_id: data.file.upload_bundle_id, id: data.file.id) %>">
              <span data-upload-file-cancellation-target="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span data-upload-file-cancellation-target="label"><i class="bi bi-sign-stop" aria-hidden="true"></i></span>
              <span class="visually-hidden"><%= t('.button_cancel_upload_a11y_text', filename: data.file.filename) %></span>
            </button>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>
