<% files ||= [] %>
<div id="schedule-uploads" class="card">
  <div class="card-header">
    <h4><%= t('.scheduled_uploads') %></h4>
  </div>
  <div class="card-body bg-light px-0">
    <div class="container files">
      <% files.each_with_index do |data, index| %>
        <div class="row py-2 align-items-center <%= 'custom-stripe' if index.even? %>">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <%= link_to(files_app_url(File.dirname(data.file.file_location)), class: 'btn btn-sm btn-outline-secondary me-2', title: t('.browse_file'), target: '_blank') do %>
                <i class="bi bi-folder"></i>
              <% end %>

              <div class="d-flex flex-column align-items-center fs-7 text-muted creation-date mx-2" title="<%= t('.schedule_creation_date') %>">
                <span><%= get_date(data.file.creation_date) %></span>
                <span><%= get_time(data.file.creation_date) %></span>
              </div>

              <%= render partial: 'shared/repo_badge', locals: {
                repo_url: data.upload_batch.connector_metadata.dataverse_url,
                target: '_blank',
                icon_html: connector_icon(data.file.type),
                name: data.upload_batch.connector_metadata.dataverse_title,
                tooltip: t(".external_dataset")
              } %>

              <span class="me-2"><%= data.project.name %> ></span>
              <span class="me-2" title="<%= data.file.file_location %>"><%= data.file.filename %></span>
              <small class="text-muted me-2"><%= number_to_human_size(data.file.size) %></small>
            </div>

          </div>

          <div class="col-md-2">
            <% if data.file.status.uploading? %>
              <%= render partial: '/shared/progress_bar', locals: { progress: data.file.connector_status.upload_progress } %>
            <% end %>
          </div>

          <div class="download-actions col-md-2 text-end">
            <%= status_badge(data.file.status) %>

            <button class="btn btn-icon-sm btn-outline-dark icon-hover-danger <%= cancel_button_class(data.file.status) %>" title="<%= t('.cancel_upload') %>"
                    data-controller="upload-file-cancellation"
                    data-action="click->upload-file-cancellation#cancel"
                    data-upload-file-cancellation-url-value="<%= cancel_project_upload_batch_upload_file_path(project_id: data.file.project_id, upload_batch_id: data.file.upload_batch_id, id: data.file.id) %>">
              <span data-upload-file-cancellation-target="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span data-upload-file-cancellation-target="label"><i class="bi bi-sign-stop"></i></span>
            </button>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>
