<% files ||= [] %>
<div id="schedule-uploads" class="card">
  <div class="card-header">
    <%= render partial: '/shared/files_process_header', locals: { type: 'upload' } %>
  </div>
  <div class="card-body bg-light px-0">
    <div class="container files" role="table">
      <% files.each_with_index do |data, index| %>
        <div class="row py-2 align-items-center <%= 'custom-stripe' if index.even? %>" role="row">
          <!-- info for medium and large screens -->
          <div class="col-md-8" role="cell">
            <div class="d-flex align-items-center">
              <%= link_to(files_app_url(data.project.download_dir), class: 'btn btn-sm btn-outline-secondary me-2',
                          title: t('.button_browse_file_title'), target: '_blank') do %>
                <i class="bi bi-folder" aria-hidden="true"></i>
                <span class="visually-hidden"><%= t('.button_browse_file_a11y_text', filename: data.file.filename) %></span>
              <% end %>
              <%= render partial: '/shared/file_row_date', locals: { date: data.file.creation_date, title: t('.field_creation_date_title'), classes: "mx-2" } %>
              <span class="me-2"><%= connector_icon(data.upload_bundle.type) %></span>
              <span class="text-truncate cursor-default" style="max-width: 600px;">
                <%= link_to project_path(id: data.project.id, anchor: tab_anchor_for(data.upload_bundle)), class: "position-relative project-name-link text-reset text-decoration-none rounded-end" do %>
                  <span class="" title="<%= t('.field_project_title', name: data.project.name) %>"><%= data.project.name %></span>
                  <span class="text-muted">&raquo;</span>
                  <span class="" title="<%= t('.field_bundle_title', name: data.upload_bundle.name) %>"><%= data.upload_bundle.name %></span>
                  <span class="text-muted position-relative">&gt;</span>
                  <span class="me-2" title="<%=  t('.field_file_title', filename: data.file.filename) %>"><%= data.file.filename %></span>
                <% end %>
              </span>
              <small class="text-muted"><%= number_to_human_size(data.file.size) %></small>
            </div>
          </div>
          <!-- end info for medium and large screens -->

          <div class="col-md-2" role="cell">
            <% if data.file.status.uploading? %>
              <%= render partial: '/shared/progress_bar', locals: { progress: data.file.connector_status.upload_progress, file: data.file } %>
            <% end %>
          </div>

          <div class="download-actions col-md-2 text-end" role="cell">
            <%= status_badge(data.file.status, filename: data.file.filename) %>

            <button class="btn btn-icon-sm btn-outline-dark icon-hover-danger" title="<%= t('.button_cancel_upload_title') %>"
                    data-controller="upload-file-cancellation"
                    data-action="click->upload-file-cancellation#cancel"
                    <%= 'disabled' if cancel_button_disabled?(data.file.status) %>
                    data-upload-file-cancellation-url-value="<%= cancel_project_upload_bundle_upload_file_path(project_id: data.file.project_id, upload_bundle_id: data.file.upload_bundle_id, id: data.file.id) %>">
              <span data-upload-file-cancellation-target="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span data-upload-file-cancellation-target="label"><i class="bi bi-sign-stop" aria-hidden="true"></i></span>
              <span class="visually-hidden"><%= t('.button_cancel_upload_a11y_text', filename: data.file.filename) %></span>
            </button>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>
