<% files = project.files %>
<div class="container files border border-secondary-subtle rounded">
  <% files.each_with_index do |file, index| %>
    <div class="row py-1 align-items-center <%= 'custom-stripe' if index.even? %>">
      <div class="col-md-10">
        <div class="d-flex align-items-center">
          <%= render partial: '/shared/file_row_date', locals: { date: file.creation_date, title: 'Schedule date', classes: 'mx-2'} %>
          <span class="me-2"><%= connector_icon(file.type) %></span>
          <span class="me-2"><%= file.filename %></span>
          <small class="text-muted me-2"><%= number_to_human_size(file.size) %></small>
        </div>

      </div>

      <div class="col-md-1 file-status d-flex align-items-end">
        <%= render partial: '/shared/file_row_date', locals: { date: file.end_date, title: 'Completion date', classes: 'mx-3'} if file.end_date %>
        <%= render partial: '/shared/file_row_date', locals: { date: file.start_date, title: 'Download start date', classes: 'mx-3'} if file.status.downloading? %>
      </div>

      <div class="col-md-1 file-status d-flex justify-content-end">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <%= status_badge(file.status, file.end_date) %>
          <% if file.status.success? %>
            <span class="creation-date"><%= elapsed_string(file.start_date, file.end_date) %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>