<% files = upload_batch.files %>
<div class="container files">
  <% files.each_with_index do |file, index| %>
    <div class="row py-2 align-items-center <%= 'custom-stripe' if index.even? %>">
      <div class="col-md-10">
        <div class="d-flex align-items-center">
          <%= render partial: '/shared/file_row_date', locals: { date: file.creation_date, title: t('.schedule_date'), classes: 'mx-2'} %>

          <%= render partial: 'shared/repo_badge', locals: {
            repo_url: upload_batch.connector_metadata.dataset_url,
            target: '_blank',
            icon_html: connector_icon(file.type),
            name: upload_batch.connector_metadata.dataverse_title,
            tooltip: t('.repository_files')
          } %>

          <span class="me-2"><%= file.filename %></span>
          <small class="text-muted me-2"><%= number_to_human_size(file.size) %></small>
        </div>

      </div>

      <div class="col-md-2 file-status d-flex justify-content-end gap-1">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <%= status_badge(file.status, file.end_date) %>
          <% if file.status.success? %>
            <span class="creation-date"><%= elapsed_string(file.start_date, file.end_date) %></span>
          <% end %>
        </div>

        <%= render partial: '/shared/file_row_date', locals: { date: file.end_date, title: t('.completion_date'), classes: 'mx-2'} if file.end_date %>
        <%= render partial: '/shared/file_row_date', locals: { date: file.start_date, title: t('.upload_start_date'), classes: 'mx-2'} if file.status.uploading? %>

        <%= render partial: "shared/button_to", locals: {
          url: project_upload_batch_upload_file_path(project_id: project.id, upload_batch_id: file.collection_id, id: file.id),
          method: 'DELETE',
          title: t('.delete_file'),
          class: 'btn-sm btn-outline-secondary',
          icon: "bi bi-trash"
        } %>

      </div>
    </div>
  <% end %>
</div>