<% content_for :title, t('.page_title') %>
<div data-test-id="projects-page" class="projects container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('.breadcrumbs_text')}]} %>
  <div class="row">
      <div class="col-md-12">
        <%= render partial: '/projects/index/actions' %>
        <ul data-test-id="project-list" class="list-group">
          <%= render partial: '/projects/index/project', locals: { project: @active_project, active: true } if @active_project %>
          <% @projects.each do |project| %>
            <%= render partial: '/projects/index/project', locals: { project: project } unless project.id == @active_project&.id %>
          <% end %>
        </ul>

          <% if @projects.empty? %>
            <div data-test-id="projects-empty-state" class="d-flex justify-content-center py-2 rounded border bg-light-grey">
            <%= t('.empty_projects_text') %>
          </div>
        <% end %>
      </div>
  </div>
</div>