<div class="project-details container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('.projects'), url: projects_path}, {text: @project.name}]} %>

  <div class="row mb-2">
    <div class="col-md-12">
      <%= render partial: '/projects/show/project_actions', locals: { project: @project } %>

      <%= render partial: '/projects/show/project_tabs', locals: { project: @project } %>
      <div class="tab-content">
        <%= render partial: '/projects/show/project_metadata', locals: { project: @project, active: true } %>
        <%= render partial: '/projects/show/download_files', locals: { project: @project } %>
        <% @project.upload_batches.each do |batch| %>
          <%= render partial: '/projects/show/upload_batch', locals: { project: @project, batch: batch } %>
        <% end %>
      </div>

    </div>
  </div>

</div>

