<div class="card dataset-header">
  <div class="card-header"><%= t('.dataset') %></div>
  <div class="list-group list-group-flush">
    <span class="list-group-item list-group-item-action">
       <b><%= dataset.metadata_field('title').to_s %></b>
    </span>
    <span class="list-group-item list-group-item-action">
       <%= dataset.data.dataset_persistent_id %>
    </span>
  </div>
</div>
<div class="card dataset-header">
  <div class="card-header"><%= t(".description") %></div>
  <div class="list-group list-group-flush">
    <span class="list-group-item list-group-item-action">
      <%= truncate(strip_tags(dataset.description), length: 300) %>
    </span>
  </div>
</div>