<nav class="navbar navbar-expand-lg shadow-sm bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <%= render partial: 'layouts/nav/logo' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" role="menubar">
        <li class="nav-item" role="menuitem">
          <%= nav_link_to t(".projects"), projects_path, class: 'nav-link' %>
        </li>
        <li class="nav-item" role="menuitem">
          <%= nav_link_to t(".downloads"), download_status_path, class: 'nav-link' %>
        </li>
        <li class="nav-item" role="menuitem">
          <%= nav_link_to t(".uploads"), upload_status_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t(".repositories") %>
          </a>
          <ul class="dropdown-menu">
            <li role="menuitem"><a class="dropdown-item" href="<%= view_dataverse_landing_path %>">Dataverse</a></li>
            <li role="menuitem"><a class="dropdown-item" href="<%= view_zenodo_landing_path %>">Zenodo</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" role="menubar"> <!-- ms-auto pushes this section to the right -->
        <li class="nav-item" role="menuitem">
          <a class="nav-link d-flex align-items-center"
             data-bs-toggle="collapse"
             href="#repo-resolver-bar"
             role="button"
             aria-expanded="false"
             aria-controls="repo-resolver-bar">
            <%= image_tag('icon.png', alt: t('.icon_alt_text'), class: 'icon-class me-1') %> <%= t(".explore") %>
          </a>
        </li>
        <li class="nav-item" role="menuitem">
          <%= nav_link_to ood_dashboard_url, class: 'nav-link d-flex align-items-center', target: '_blank' do %>
            <%= image_tag('ood_icon.svg', alt: t('.ood_icon_alt_text'), class: 'icon-class me-1') %> Open OnDemand
          <% end %>
        </li>
        <li class="nav-item" role="menuitem">
          <%= nav_link_to t(".restart"), restart_url, class: 'nav-link d-flex align-items-center' %>
        </li>
      </ul>
    </div>

    <div id="process-status"
         data-controller="lazy-loader"
         data-lazy-loader-url-value="<%= detached_process_status_path %>"
         data-lazy-loader-interval-value="10000">
      <div id="file-activity-status"
           class="d-flex justify-content-center align-items-start py-2"
           style="min-width: 100px; height: 100%;">
        <span class="text-light spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</nav>
