<nav class="navbar navbar-expand-lg shadow-sm bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <%= render partial: 'layouts/nav/logo' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= nav_link_to "Projects", projects_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Downloads", downloads_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Uploads", uploads_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "DOI Search", doi_search_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Repositories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= view_dataverse_landing_path %>">Dataverse</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto"> <!-- ms-auto pushes this section to the right -->
        <li class="nav-item">
          <%= link_to "#", class: "nav-link d-flex align-items-center", data: { action: "click->utils--toggle#toggle", "utils--toggle-id-param": "repo-resolver-bar" } do %>
            <%= image_tag('icon.png', alt: 'Loop Application Icon', class: 'icon-class me-1') %> Resolve Repo URL
          <% end %>
        </li>
        <li class="nav-item">
          <%= nav_link_to ood_dashboard_url, class: 'nav-link d-flex align-items-center', target: '_blank' do %>
            <%= image_tag('ood_icon.svg', alt: 'Open OnDemand Icon', class: 'icon-class me-1') %> Open OnDemand
          <% end %>
        </li>
        <li class="nav-item">
          <%= nav_link_to "Restart", restart_url, class: 'nav-link d-flex align-items-center' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
