<% content_for :title, t('zenodo.records.show.page_title') %>
<div class="zenodo container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('shared.breadcrumbs.zenodo'), url: view_zenodo_landing_path}, {text: @record.title}]} %>

  <div class="card">
    <div class="card-header py-2">
      <a class="d-flex align-items-start text-decoration-none w-100"
         data-bs-toggle="collapse"
         data-controller="utils--icon-toggle"
         data-utils--icon-toggle-icon-on-value="bi-caret-right"
         data-utils--icon-toggle-icon-off-value="bi-caret-down"
         data-action="click->utils--icon-toggle#toggle"
         href="#record-description"
         role="button"
         aria-expanded="false"
         aria-controls="record-description">
        <i data-utils--icon-toggle-target="icon" class="bi bi-caret-right me-2 transition" aria-hidden="true"></i>
        <div>
          <%= @record.title %>
          <div class="small text-muted">
            <%= t('.label_publication_date_text') %> <%= @record.publication_date %> |
            <%= t('.label_files_text') %> <%= @record.files.size %>
          </div>
        </div>
      </a>
      <div id="record-description" class="collapse p-2">
        <div class="small text-muted"><%= @record.description&.html_safe %></div>
      </div>
    </div>
    <div class="card-body p-0">
      <%= form_with url: download_zenodo_record_files_path, local: true do |f| %>
        <%= hidden_field_tag 'project_id', Current.settings.user_settings.active_project %>
        <%= hidden_field_tag :id, @record_id %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th><%= t('zenodo.records.show.column_record_filename_text') %></th>
              <th><%= t('zenodo.records.show.column_record_size_text') %></th>
            </tr>
          </thead>
          <tbody>
          <% @record.files.each do |file| %>
            <tr>
              <td><input type="checkbox" name="file_ids[]" value="<%= file.id %>"></td>
              <td><%= file.filename %></td>
              <td><%= number_to_human_size(file.filesize) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= submit_tag t('zenodo.records.show.button_submit_text'), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
