<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h3 class="mb-1 h5">
      <%= link_to_dataverse_collection item.name.presence || t(".unnamed_dataverse_text"), repo_url, item.identifier, { class: "text-decoration-none", title: item.name, 'aria-label' => item.name } %>
    </h3>
  </div>

  <small class="text-muted d-block">
    <strong><%= t('connectors.dataverse.collections.dataverse_item.field_type_label') %>:</strong> <%= item.type %>
    <% if item.affiliation.present? %> |
      <strong><%= t('connectors.dataverse.collections.dataverse_item.field_affiliation_label') %>:</strong> <%= item.affiliation %>
    <% end %>
    <% if item.parent_dataverse_name.present? %> |
      <strong><%= t('connectors.dataverse.collections.dataverse_item.field_parent_label') %>:</strong> <%= link_to_dataverse_collection item.parent_dataverse_name, repo_url, item.parent_dataverse_identifier, { class: "text-decoration-none", title: item.parent_dataverse_name, 'aria-label' => item.parent_dataverse_name } %>
    <% end %>
    <% if item.published_at %> |
      <strong class="text-muted"><%= t('connectors.dataverse.collections.dataverse_item.field_published_label') %>:</strong>
        <time datetime="<%= item.published_at %>">
          <%= item.published_at.to_date.to_s %>
        </time>
    <% end %>
  </small>
</li>