<div class="mb-3">
  <%= form_with url: link_to_explore(ConnectorType::DATAVERSE, repo_url, type: 'collections', id: collection.data.alias), method: :get, local: true do |f| %>
    <%= hidden_field_tag :server_scheme, repo_url.scheme_override %>
    <%= hidden_field_tag :server_port, repo_url.port_override %>
    <div class="input-group">
      <%= f.text_field :query, value: params[:query], class: 'form-control', placeholder: t('.field_search_placeholder') %>
      <%= f.submit t('.button_submit_text'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>