<div class="card dataset-header">
  <div class="card-header d-flex align-items-center">
    <%= files_page.to_s %>
    <span class="ms-auto">
      <%= link_to_dataset_prev_page(dataverse_url, @persistent_id, files_page, {class: "text-decoration-none"}) %>
      <%= t('.page', page: files_page.page) %>
      <%= link_to_dataset_next_page(dataverse_url, @persistent_id, files_page, {class: "text-decoration-none"}) %>
    </span>
  </div>
  <% if files_page.total_count > 0 %>
    <%= form_with url: download_dataverse_dataset_files_path, method: :post, local: true, class: "p-3 rounded bg-light", data: {controller: "dataverse--dataset-files"} do %>
      <%= hidden_field_tag 'project_id', Current.settings.user_settings.active_project %>
      <%= hidden_field_tag 'dataverse_url', dataverse_url %>
      <%= hidden_field_tag 'persistent_id', @persistent_id %>
      <%= hidden_field_tag 'page', @page %>
      <div class="row">
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-light">
          <tr>
            <th scope="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="select_all_files" data-dataverse--dataset-files-target="selectAll" data-action="dataverse--dataset-files#toggleSelectAll">
              </div>
            </th>
            <th scope="col"><%= t('.file_name') %></th>
            <th scope="col"><%= t('.size') %></th>
            <th scope="col"><%= t('.storage') %></th>
            <th scope="col"><%= t('.published') %></th>
          </tr>
          </thead>
          <tbody>
            <%= render partial: "dataverse/datasets/dataset_file_row", collection: files_page.files, as: :file %>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <%= submit_tag t('.add_files_submit'), class: "btn btn-primary", id: "submit_button", data: {"dataverse--dataset-files-target" => "submitButton"} %>
      </div>
    <% end %>
  <% else %>
    <div class="list-group list-group-flush">
      <span class="list-group-item list-group-item-action">
        <%= t('.empty_dataset_msg') %>
      </span>
    </div>
  <% end %>
</div>