<% content_for :title, t('zenodo.landing.index.page_title') %>
<div class="zenodo container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('shared.breadcrumbs.zenodo')}]} %>

  <div class="my-4 pb-1" data-test-id="zenodo-logo-container">
    <%= link_to Zenodo::ZenodoUrl.default_url&.zenodo_url, target: '_blank', rel: 'noopener', aria: { label: t('connectors.zenodo.aria_label') } do %>
      <%= image_tag 'zenodo_project.svg', alt: t('connectors.zenodo.title'), width: 280 %>
    <% end %>
  </div>

  <%= form_with url: link_to_explore(ConnectorType::ZENODO, repo_url, type: 'landing', id: ':root'), id: 'zenodo-search-form', method: :get, local: true do |f| %>
    <%= hidden_field_tag :server_scheme, repo_url.scheme_override %>
    <%= hidden_field_tag :server_port, repo_url.port_override %>
    <div class="input-group mb-3">
      <%= f.text_field :query, class: 'form-control', value: query, placeholder: t('zenodo.landing.index.field_search_placeholder'), data: { test_id: 'zenodo-search-input' } %>
      <%= f.submit t('zenodo.landing.index.button_submit_text'), class: 'btn btn-primary', data: { test_id: 'zenodo-search-submit' } %>
    </div>
  <% end %>

  <% if results %>
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <%= results.to_s %>
        <nav aria-label="<%= t('zenodo.landing.index.paginator_bar_a11y_label') %>" class="ms-auto" data-test-id="header-pagination">
          <div class="d-flex align-items-center gap-2">
            <%= link_to_explore_prev_page(query, results, repo_url, class: 'text-decoration-none', data: {test_id: 'header-pagination-prev'}) %>
            <%= t('zenodo.landing.index.paginator_page_text', page: results.page) %>
            <%= link_to_explore_next_page(query, results, repo_url, class: 'text-decoration-none', data: {test_id: 'header-pagination-next'}) %>
          </div>
        </nav>
      </div>
      <% if results.items.any? %>
        <table class="table table-striped table-bordered align-middle mb-0">
          <caption class="visually-hidden"><%= t('zenodo.landing.index.table_results_caption') %></caption>
          <thead class="table-light">
            <tr>
              <th scope="col"><%= t('zenodo.landing.index.column_title_text') %></th>
            </tr>
          </thead>
          <tbody>
            <% results.items.each do |item| %>
              <tr>
                <td>
                  <%= link_to item.title,  link_to_explore(ConnectorType::ZENODO, repo_url, type: 'records', id: item.id) %>
                  <div class="small text-muted">
                    <%= t('zenodo.landing.index.label_publication_date_text') %> <%= item.publication_date %> |
                    <%= t('zenodo.landing.index.label_files_text') %> <%= item.files.size %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-warning m-3" role="status"><%= t('zenodo.landing.index.msg_no_items_found_text') %></div>
      <% end %>
      <div class="card-header d-flex justify-content-end">
        <nav aria-label="<%= t('zenodo.landing.index.paginator_bar_a11y_label') %>" class="ms-auto" data-test-id="footer-pagination">
          <div class="d-flex align-items-center gap-2">
            <%= link_to_explore_prev_page(query, results, repo_url, class: 'text-decoration-none', data: {test_id: 'footer-pagination-prev'}) %>
            <%= t('zenodo.landing.index.paginator_page_text', page: results.page) %>
            <%= link_to_explore_next_page(query, results, repo_url, class: 'text-decoration-none', data: {test_id: 'footer-pagination-next'}) %>
          </div>
        </nav>
      </div>
    </div>
  <% end %>
</div>
