<div class="mb-3">
  <%= form_with url: link_to_landing(ConnectorType::DATAVERSE), method: :get, local: true do |f| %>
    <div class="input-group">
      <%= f.text_field :query, value: params[:query], class: 'form-control', placeholder: t('dataverse.landing.installation_items.field_search_placeholder') %>
      <%= f.submit t('dataverse.landing.installation_items.button_submit_text'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<div class="card dataset-header">
  <div class="card-header d-flex align-items-center">
    <%= installations_page.to_s %>
    <nav aria-label="<%= t('dataverse.landing.installation_items.paginator_bar_a11y_label') %>" class="ms-auto">
      <%= link_to_landing_prev_page(installations_page, {class: "text-decoration-none", data: {test: 'header-pagination-prev'}}) %>
      <%= t('dataverse.landing.installation_items.paginator_page_text', page: installations_page.page) %>
      <%= link_to_landing_next_page(installations_page, {class: "text-decoration-none", data: {test: 'header-pagination-next'}}) %>
    </nav>
  </div>
  <% if installations_page.page_items.any? %>
    <ul class="list-group">
      <% installations_page.page_items.each do |installation| %>
        <li class="list-group-item flex-column align-items-start">
          <%= link_to_dataverse_collection "#{installation[:name]} - #{installation[:hostname]}", Repo::RepoUrl.with_scheme(installation[:hostname]), ":root", { class: "text-decoration-none"} %>
        </li>
      <% end %>
    </ul>
    <div class="card-header d-flex justify-content-end">
      <nav aria-label="<%= t('dataverse.landing.installation_items.paginator_bar_a11y_label') %>" class="ms-auto">
        <div class="d-flex align-items-center gap-2">
          <%= link_to_landing_prev_page(installations_page, {class: "text-decoration-none", data: {test: 'footer-pagination-prev'}}) %>
          <%= t('dataverse.landing.installation_items.paginator_page_text', page: installations_page.page) %>
          <%= link_to_landing_next_page(installations_page, {class: "text-decoration-none", data: {test: 'footer-pagination-next'}}) %>
        </div>
      </nav>
    </div>
  <% else %>
    <div class="alert alert-warning mt-3" role="status">
      <%= t('dataverse.landing.installation_items.msg_no_items_text') %>
    </div>
  <% end %>
</div>
