<% content_for :title, t('.page_title') %>
<div class="container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('.breadcrumbs_text')}]} %>
  <ul>
    <li><%= link_to t('layouts.nav.navigation.link_projects_text'), projects_path %></li>
    <li><%= link_to t('layouts.nav.navigation.link_downloads_text'), download_status_path %></li>
    <li><%= link_to t('layouts.nav.navigation.link_uploads_text'), upload_status_path %></li>
    <li><%= t('layouts.nav.navigation.link_repositories_text') %></li>
    <ul>
      <li><%= link_to t('layouts.nav.navigation.link_dataverse_text'), view_dataverse_landing_path %></li>
      <% if ::Configuration.zenodo_enabled %>
        <li><%= link_to t('layouts.nav.navigation.link_zenodo_text'), explore_path(connector_type: 'zenodo', server_domain: 'zenodo.org', object_type: 'actions', object_id: 'landing') %></li>
      <% end %>
      <li><%= link_to t('layouts.nav.navigation.link_repo_settings_text'), repository_settings_path %></li>
    </ul>
    <li><%= link_to t('layouts.nav.navigation.link_guide_text'), guide_url %></li>
    <li><%= link_to 'Open OnDemand', ood_dashboard_url %></li>
    <li><%= link_to t('layouts.nav.navigation.link_restart_text'), restart_url %></li>
  </ul>
</div>
