<div class="text-end bg-white z-index-999" aria-label="<%= t('.actions_bar_title_a11y_label') %>">
  <%= link_to(files_app_url(Configuration.download_root), class: 'btn btn-outline-dark btn-sm', target: '_blank',
              title: t('.button_downloads_directory_title')) do %>
    <i class="bi bi-folder-fill" aria-hidden="true"></i><span class="ps-1"><%= t('.button_downloads_directory_title') %></span>
  <% end %>
  <%= link_to(download_status_path, class: 'btn btn-outline-dark btn-sm', role: 'button', title: t('.button_reload_title')) do %>
    <i class="bi bi-arrow-clockwise bold" aria-hidden="true"></i><span class="ps-1"><%= t('.button_reload_title') %></span>
  <% end %>
</div>

<hr>