<% files ||= [] %>
<div id="schedule-downloads" class="card">
  <div class="card-header">
    <%= render partial: '/shared/files_process_header', locals: { type: 'download' } %>
  </div>

  <div class="card-body bg-light px-0">
    <div class="container files" role="table">
      <% files.each_with_index do |data, index| %>
        <div class="row py-2 align-items-center <%= 'custom-stripe' if index.even? %>" role="row">
          <!-- info for small screens -->
          <div class="col-sm-12 d-md-none" role="cell">
            <div class="d-flex align-items-center">
              <%= link_to(files_app_url(data.project.download_dir), class: 'btn btn-sm btn-outline-secondary me-2',
                          title: t('.button_browse_file_title'), target: '_blank') do %>
                <i class="bi bi-folder" aria-hidden="true"></i>
                <span class="visually-hidden"><%= t('.button_browse_file_a11y_text', filename: data.file.filename) %></span>
              <% end %>
              <span class="me-2"><%= connector_icon(data.file.type) %></span>
              <span class="me-2"><%= data.file.filename %></span>
            </div>
          </div>
          <!-- end info for small screens -->

          <!-- info for medium and large screens -->
          <div class="col-md-8 d-none d-sm-none d-md-block" role="cell">
            <div class="d-flex align-items-center">
            <%= link_to(files_app_url(data.project.download_dir), class: 'btn btn-sm btn-outline-secondary me-2',
                        title: t('.button_browse_file_title'), target: '_blank') do %>
              <i class="bi bi-folder" aria-hidden="true"></i>
              <span class="visually-hidden"><%= t('.button_browse_file_a11y_text', filename: data.file.filename) %></span>
            <% end %>
              <%= render partial: '/shared/file_row_date', locals: { date: data.file.creation_date, title: t('.field_creation_date_title'), classes: "mx-2" } %>
              <span class="me-2"><%= connector_icon(data.file.type) %></span>
              <span class="me-2"><%= data.project.name %> ></span>
              <span class="me-2"><%= data.file.filename %></span>
              <small class="text-muted me-2"><%= number_to_human_size(data.file.size) %></small>
            </div>
          </div>
          <!-- end info for medium and large screens -->

          <div class="col-sm-6 col-md-2" role="cell">
            <% if data.file.status.downloading? %>
              <%= render partial: '/shared/progress_bar', locals: { progress: data.file.connector_status.download_progress, file: data.file } %>
            <% end %>
          </div>

          <div class="download-actions col-sm-6 col-md-2 text-end" role="cell">
            <%= status_badge(data.file.status, filename: data.file.filename) %>

            <button class="btn btn-icon-sm btn-outline-dark icon-hover-danger <%= cancel_button_class(data.file.status) %>" title="<%= t('.button_cancel_download_title') %>"
                    data-controller="download-file-cancellation"
                    data-action="click->download-file-cancellation#cancel"
                    <%= 'disabled' unless data.file.status.downloading? %>
                    data-download-file-cancellation-url-value="<%= cancel_project_download_file_path(project_id: data.file.project_id, id: data.file.id) %>">
              <span data-download-file-cancellation-target="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span data-download-file-cancellation-target="label"><i class="bi bi-sign-stop" aria-hidden="true"></i></span>
              <span class="visually-hidden"><%= t('.button_cancel_download_a11y_text', filename: data.file.filename) %></span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
