<% files ||= [] %>
<div id="schedule-downloads" class="card">
  <div class="card-header">
    <%= render partial: '/shared/files_process_header', locals: { type: 'download' } %>
  </div>

  <div class="card-body bg-light px-0">
    <div class="container files" role="table">
      <% files.each_with_index do |data, index| %>
        <div class="row py-2 align-items-center <%= 'custom-stripe' if index.even? %>" role="row">
          <div class="col-md-10" role="cell">
            <div class="d-flex align-items-center">
              <%= link_to(files_app_url(data.project.download_dir), class: 'btn btn-sm btn-outline-secondary me-2',
                          title: t('.button_browse_file_title'), target: '_blank') do %>
                <i class="bi bi-folder" aria-hidden="true"></i>
                <span class="visually-hidden"><%= t('.button_browse_file_a11y_text', filename: data.file.filename) %></span>
              <% end %>
              <%= render partial: '/shared/file_row_date', locals: { date: data.file.creation_date, title: t('.field_creation_date_title'), classes: "mx-2" } %>
              <span class="me-2"><%= connector_icon(data.file.type) %></span>
              <span class="text-truncate cursor-default" style="max-width: 620px;" >
                <%= link_to project_path(id: data.project.id), class: "position-relative project-name-link text-reset text-decoration-none rounded-end", title: t('.field_project_title', name: data.project.name) do %>
                  <%= data.project.name %>
                  <span class="text-muted">&raquo;</span>
                  <span class="me-2" title="<%= t('.field_file_title', filename: data.file.filename) %>"><%= data.file.filename %></span>
              <% end %>
              </span>
              <small class="text-muted file-size"><%= download_file_size(data.file) %></small>
            </div>
          </div>

          <div class="download-actions col-md-2 text-end d-flex justify-content-end align-items-center" role="cell">
            <% if data.file.status.downloading? %>
              <%= render partial: '/shared/progress_bar', locals: { progress: data.file.connector_status.download_progress, file: data.file } %>
            <% else %>
              <%= button_tag type: 'button',
                             class: 'btn p-0 border-0 bg-transparent',
                             title: t('.button_view_events_title'),
                             data: {
                               controller: 'modal',
                               action: 'click->modal#load',
                               'modal-url-value': widgets_path('events', project_id: data.file.project_id, entity_type: 'downloadfile', entity_id: data.file.id),
                               'modal-title-value': t('.button_view_events_title'),
                               'modal-id-value': 'global-modal'
                             } do %>
                <%= status_badge(data.file.status, filename: data.file.filename) %>
                <span class="visually-hidden"><%= t('.button_view_events_label') %></span>
              <% end %>
            <% end %>
            &nbsp;
            <% if retry_button_visible?(data.file) %>
              <%= render layout: '/shared/button_to',
                         locals: {
                           url: project_download_file_path(project_id: data.file.project_id, id: data.file.id),
                           method: :patch,
                           icon: 'bi bi-arrow-clockwise',
                           class: 'btn-icon-sm btn-outline-dark icon-hover-success',
                           title: t('.button_retry_download_title')
                         } do %>
                <%= hidden_field_tag :state, FileStatus::PENDING.to_s %>
              <% end %>
            <% else %>
              <%= render partial: '/shared/button_to',
                         locals: {
                           url: cancel_project_download_file_path(project_id: data.file.project_id, id: data.file.id),
                           method: :post,
                           disabled: cancel_button_disabled?(data.file.status),
                           icon: 'bi bi-sign-stop',
                           class: 'btn btn-icon-sm btn-outline-dark icon-hover-danger',
                           title: t('.button_cancel_download_title', filename: data.file.filename)
                         } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
