<% content_for :title, t('.page_title') %>
<div class="container-md content" role="main">
  <%= render partial: '/shared/breadcrumbs', locals: { links: [{text: t('.breadcrumbs.text')}]} %>
  <div class="row">
      <div class="col-md-12">
        <%= render partial: 'actions' %>

        <div data-controller="lazy-loader"
             data-lazy-loader-url-value="<%= download_status_files_path %>"
             data-lazy-loader-interval-value="<%= Configuration.connector_status_poll_interval.to_i%>">
          <%= render partial: 'files', locals: { files: @files, status: @status } %>
        </div>

      </div>
  </div>
</div>