<tr>
  <td>
    <div class="form-check">
      <%= check_box_tag "file_ids[]", file.data_file.id, false, class: "form-check-input", id: "file_checkbox_#{file.data_file.id}" %>
    </div>
  </td>
  <td>
    <label for="file_checkbox_<%= file.data_file.id %>" class="d-block mb-1">
      <%= file.label %>
    </label>
  </td>
  <td class="text-nowrap">
    <%= number_to_human_size(file.data_file.filesize) %>
  </td>
  <td class="text-nowrap">
    <%= file.data_file.publication_date %>
  </td>
</tr>
