<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "OnDemand Loop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

    <%= render partial: 'layouts/config' %>
  </head>

  <body>
    <%= render partial: 'layouts/navigation' %>
    <div id="main_container" class="container-md content mt-4" role="main">
      <%= render partial: 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
