<div class="d-flex justify-content-between align-items-center mt-3" aria-label="<%= t('.actions_bar_title_a11y_label') %>">
  <div class="d-flex align-items-center gap-2">
    <h2 class="mb-0 me-2 fs-4 h5 text-truncate cursor-default" style="max-width: 800px;" title="<%= record.title %>"><%= record.title %></h2>
  </div>
  <div class="d-flex align-items-center gap-2" data-controller="select-project-listener">
    <!-- create bundle button -->
    <%= render layout: "shared/button_to", locals: {
      url: connector_project_upload_bundles_path(':project_id'),
      method: 'POST',
      label: t('.button_create_bundle_label'),
      title:  t('.button_create_bundle_title'),
      class: "btn-sm btn-outline-secondary",
      icon: "bi bi-folder-plus",
      button_data: {select_project_listener_target: 'button'}
    } do %>

      <input type="hidden" name="remote_repo_url" id="remote_repo_url" autocomplete="off" value="<%= external_record_url(record.id) %>">
      <input type="hidden" name="project_id" id="project_id" autocomplete="off" data-select-project-listener-target="inputProjectId">
    <% end %>

    <!-- link to external repository dataset -->
    <%= link_to external_record_url(record.id),
                target: '_blank',
                class: 'btn btn-sm btn-outline-secondary',
                title: t('.link_open_record_title') do %>
      <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
      <span class="visually-hidden"><%= t('.link_open_record_title') %></span>
    <% end %>
  </div>
</div>
<hr class="mt-2">
